.venv/
__pycache__/
.streamlit/secrets.toml
*.env
.vs/
# Ignore local geophysical raster data and large survey files
*.tif
*.tiff
# 1. Ignore all contents inside the data folder (Raw, Heavy Raster, Parquet)
data/*
data/**/*

# 2. EXCEPTION: Allow Git to track the processed folder itself
!data/processed/

# 3. EXCEPTION: Allow all CSVs ending in anomalies.csv anywhere in the repo
!**/*anomalies.csv
*.nc
