# GCP & Security Credentials (CRITICAL)
.env
key.json
*.json

# Raw & Processed Data (Too large for Git)
*.tif
*.geojson
data/
outputs/

# Python Cache & Virtual Environments
__pycache__/
*.pyc
venv/
.venv/

# IDE Specific Files
.vscode/
.idea/

.streamlit/
.vs/
repo_snapshot.txt